/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Color set
 * -------------------------------------------------------------------------- */

/*base background color*/
@define-color bg_main rgba(0, 0, 0, 0.6);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/*base background color of active elements */
@define-color bg_active #35709d;
@define-color bg_urgent #900000;

/*base border color*/
@define-color border_main_active #4c7899;
@define-color border_main_urgent #c9545d;
@define-color border_main_tooltip #35709d;

/*text color for entries, views and content in general */
@define-color content_active white;
/*text color for entries that are unselected */
@define-color content_inactive #999999;
@define-color content_good #00eb00;
@define-color content_warn orange;
@define-color content_crit red;

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @content_active;
    }

    to {
        color: @content_active;
        background-color: @content_warn;
    }
}

@keyframes blink-critical {
    70% {
        color: @content_active;
    }

    to {
        color: @content_active;
        background-color: @content_crit;
    }
}

/* -----------------------------------------------------------------------------
 * tooltips
 * -------------------------------------------------------------------------- */
tooltip {
    background-color: @bg_main_tooltip;
    border: 2px solid @border_main_tooltip;
}
/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    all: unset; /* see https://github.com/1sixth/flakes/commit/84e5c266535eec96de5332db9318b99de940d9e9 */
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: @bg_main;
    color: @content_active;
    font-family: "JetBrains Mono";
    font-size: 14px;
}

/* Each module */
#clock,
#mode,
#network,
#custom-vpn,
#pulseaudio,
#mpd,
#tray,
#custom-stats,
#custom-power {
    padding-left: 0.5rem;
    padding-right:0.5rem;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  /* No styles */
}

#custom-stats {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-stats.warning {
    color: @content_warn;
}

#custom-stats.critical {
    color: @content_crit;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @bg_urgent;
    border: 1px solid @border_main_urgent;
}

#custom-vpn {
    color: @content_good;
}

#custom-vpn.down {
    color: @content_inactive;
}

#network {
    color: @content_active;
}

#network.disconnected {
    color: @content_warn;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.out.muted {
    color: @content_inactive;
}

#pulseaudio.mic.source-muted {
    color: @content_inactive;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}
/* also inactive state */
#workspaces button {
    padding-left: 0.7rem;
    padding-right:0.7rem;
    color: @content_inactive;
}

#workspaces button.focused {
    border-color: @border_main_active;
    color: @content_active;
    background-color: @bg_active;
}

#workspaces button.urgent {
    border-color: @border_main_urgent;
    color: @border_main_urgent;
}
#mpd {color:@content_active;}
#mpd.disconnected,
#mpd.paused,
#mpd.stopped {
    color: @content_inactive;
}
